@import "base";
@import "function";
@import "var";
@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: fontawesome;
    src: url(../fonts/font-awesome/fontawesome-webfont.ttf);
}

@font-face {
    font-family: fontawesome;
    src: url(../fonts/font-awesome/FontAwesome.otf);
}

html,
body {
    font-family: Roboto;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: 7px;
    background: #073973;
}

a:hover {
    text-decoration: none;
}
a {
    text-decoration: none !important;
}
.button-to-top_hidden {
    visibility: hidden;
    opacity: 0;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: #073973;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
    animation: fadeDown 0.5s;
}

@keyframes fadeDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.header-body {
    background: #e6e4e3;
    position: relative;
}
.header-end {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
     .btn-header {
        border: none;
        outline: 0;
        background: #e6e4e3;
        margin-left: 20px;
        height: 40px;
        width: 40px;
        transition: .3s all;
        border-radius: 5px;
        &:hover , &:focus {
            background: #f0eceb;
            transition: .3s all;
        }
     }
     .btn-card {
         position: relative;
     }
     .cart__current {
        position: absolute;
        top: -7px;
        right: 0;
        z-index: 1;
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 100%;
        background:           #FED694;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
    }
}
.header-top {
    background: #000;
    padding: 10px;
}

.logo-hotline a {
    font-size: 13px;
    color: #fff;
    font-family: roboto;
    text-decoration: none;
}

.hotline-number {
    padding-right: 15px;
    color: #fff;
    font-size: rem(14);
    img {
        margin-right: rem(12);
    }
}
.hotline-sale {
    text-decoration: none;
    font-size: 12px;
    color: #fed694;
    transition: .3s all;
}
.i-con-hd {
    margin-right: rem(9);
}

.logo-login {
    text-align: right;
}

.logo {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.logo-login a {
    color: #fff;
    font-size: 14px;
    font-family: "arial", sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.login-span {
    padding-left: 15px;
}

.nav {
    padding: 6px 0;
    background-color: transparent;
    position: relative;
}

.toggle {
    width: auto;
    color: #003770;
    box-sizing: border-box; 
    display: none;
}

.menu_container {
    align-items: center;
}

.toggle img {
    margin-left: 15px;
}

.toggle i {
    font-size: 24px;
    padding-right: 20px;
}

.btn-search {
    color: #000;
    border: none;
    outline: none;
    background: transparent;
    i {
        font-size: 30px;
    }
}

.banner {
    position: relative;
    z-index: 0;
    .banner-slug {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20%;
        .title-baner {
            color: #fff;
            font-size: 50px;
            &--custom {
                color: #fed694;
                font-size: 96.4286px;
            }
        }
    }
}

.header {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.menu ul li i {
    position: absolute;
    top: 10px;
    right: 0.9375rem;
    z-index: 1;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.banner-img {
    max-height: rem(600);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.main-search-top {
    text-align: end;
    padding-right: 4%;
    position: absolute;
    width: 100%;
    max-width: 1030px;
    top: 100%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    transform: translateY(1rem);
    &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}
.form-search-top {
    position: relative;
    &::before {
        content: "";
        border-bottom: 10px solid #000000;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        width: 0;
        position: absolute;
        bottom: 100%;
        right: 60px;
    }
    .input-search {
        width: 100%;
        height: 70px;
        padding: 12px 12px 12px 75px;
        border: none;
        box-shadow: none;
        font-size: 1.125rem;
        color: #fff;
        background-color: #000;
    }
    .btn-submit-search {
        position: absolute;
        width: 80px;
        height: 70px;
        top: 0;
        right:0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
        border: none;
        background-color: transparent;
        box-shadow: none;
        outline: none;
    }
}
.footer {
    background: #1E2833;
    position: relative;
    padding-top: rem(50);
    &-form {
        .form-control {
            background: #1E2833;
            border : none;
            border-bottom: 1px solid #ffffff85;
            width: 100%;
            height: rem(46);
            border-radius: 0;
            color: #fff;
            padding-left: 0;
            &::placeholder {
                color: #6d6969;
            }
            &:hover , &:focus {
                box-shadow:none;
            }
          }
    }
    &-body {
        color: #fff;
        font-size: rem(16);
        padding-bottom: rem(50);
        padding-top: rem(50);
        .logo-footer_text {
            margin-bottom: 0;
            padding-bottom: rem(30);
            font-size: rem(24)
        }
        .btn-footer-form {
            color: #26497D;
            position: absolute;
            right: 0;
            top: 0;
            border: 2px solid #fed694;
            outline: none;
            background: #fed694;
            border-radius: 8px 8px 0px 0px;
            height: rem(46);
            width: rem(46);
            transition: .3s all;
            &:hover , &:focus {
                transition: .3s all;
                background : transparent;
                color: #fed694;
            }
        }
        .items {
            .title-footer {
                font-size: rem(20);
                color: #fed694;
                margin-bottom: rem(19);
                display: block;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin-bottom:rem(19);
                    a {
                        color: #fff;
                        text-decoration: none;
                        transition: .3s all;
                        &:hover , &:focus {
                            transition: .3s all;
                            color: #fed694;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    &-top {
    padding-bottom: rem(15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    .footer-logo {
        width: rem(80);
        height: auto;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .phone-hotline {
        display: inline-flex;
        align-items: center;
        font-size: rem(24);
        text-decoration: none;
        color: #fed694;
        img {
            margin-right: rem(15);
            width: rem(36);
            height: rem(36);
            object-fit: cover;
        }
    }
    }
    .footer-end_tille {
        color: #fff;
        padding: rem(50) 0;
        padding-top: rem(30);
    }
    .footer-end_p {
        font-size: rem(14);
        margin-bottom: 0;
    }
    .icon_footer {
        color: #FED694;
        font-size: rem(18);
        display: inline-flex;
        padding-left:rem(27);
        text-decoration: none;
        transition: .3s all;
        &:hover {
            transition: .3s all;
            color: #F21520;
        }
    }
}
.footer-2 {
    justify-content: center;
}

 

.logo-trademark {
    margin: auto;
    text-align: center;
    img {
        max-width: 180px;
        max-height: 88px;
    }
}

.deal {
    background: #f8f7f6;
    .deal-slideshow {
        .swiper-button-prev {
            left: 16%;
        }
        .swiper-button-next {
            right: 16%;
        }
    }
    .swiper-slide {
        pointer-events: none;
        cursor: default;
        .card {
            opacity: 0.3;
        }
    }
    .swiper-slide-next,
    .swiper-slide-prev {
        pointer-events: unset;
        .card {
            background: #fff;
            opacity: 1;
            transition: .3s all;
            .card-body {
                background: #fff;
            }
        }
    }
    .swiper-slide-active {
        pointer-events: unset;
        .card {
            opacity: 1;
        }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: #26497d;
    }
}

.card {
    position: relative;
    border-color: transparent;
    border-radius: 2px 2px 0px 0px;
    img {
        transition: 0.3s all;
    }
    .card-body_category {
        font-size: 12px;
        margin-bottom: 10px;
        a {
            color: #26497d;
        }
    }
    .card-body_title {
        margin-bottom: 5px;
        line-height: 1.3;
        a {
            color: #616060;
            &:hover {
                color: #26497d;
                transition: 0.3s all;
            }
        }
    }
    .card-body {
        padding: 23px;
    }
    .card-body_price {
        font-size: 13px;
        .price-old {
            margin-right: 15px;
            color: #b9b9b9;
        }
    }
    .card-discount {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: #26497d;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 10;
    }
    .card-img {
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
            max-height: 270px;
        }
        .card-action {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -10%);
            z-index: -1;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px 15px;
                background: #fff;
                color: #26497d;
                text-transform: uppercase;
                font-size: 13px;
                &:nth-child(1) {
                    margin-bottom: 10px;
                }
                &:hover {
                    background: #26497d;
                    color: #fed694;
                    transition: 0.3s;
                }
            }
        }
    }

    &:hover {
        .card-action {
            z-index: 1;
            transition: 0.3s;
        }
        img {
            transform: scale(1.2);
            transition: 0.3s;
        }
    }
}

.category {
    .category-image {
        overflow: hidden;
        position: relative;
        z-index: 0;
        margin-bottom: 40px !important;
        .image {
            width: 190px;
            height: 190px;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto;
            &:hover {
                & > img {
                    transform: scale(1.2);
                    transition: 0.3s;
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .category-title {
        position: absolute;
        z-index: 1;
        bottom: 0;
        font-size: 11px;
        text-align: center;
        display: block;
        width: 100%;
        background: #fff;
        padding: 5px 0 15px;
        color: #26497d;
        &:hover {
            background: #26497d;
            color: #fff;
            transition: 0.3s;
        }
    }
}

.product-new {
    background: #f8f7f6;
    .product-new-slideshow {
        .card {
            .card-img {
                background: #fff;
            }
        }
    }
    .product-new-slide-button {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .swiper-button-next {
            background: #26497d;
            width: 25px;
            height: 25px;
            color: #fed694;
            right: 0;
            &::after {
                font-size: 13px;
                font-weight: 600;
            }
        }
        .swiper-button-prev {
            right: 30px;
            left: auto;
            background: #26497d;
            width: 25px;
            height: 25px;
            color: #fed694;
            &::after {
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
}

.product-hot {
    background: #f8f7f6;
    .product-tabs {
        justify-content: center;
        margin-bottom: 40px;
        border-bottom-color: transparent;
    }
    .card {
        border-color: #f8f7f6;
    }
    .active {
        border: unset;
    }
    .nav-link {
        border: unset;
        border-bottom: 1px solid #232323;
        background: transparent;
        color: #232323;
        margin-right: 10px;
        padding-bottom: 0;
        font-size: 20px;
        &:focus,
        &:hover {
            transition: 0.3s;
            color: #26497d;
            border-bottom: 1px solid #26497d;
        }
    }
}

.view-detail {
    color: #616060;
    border-bottom: 1px solid #616060;
    &:hover {
        transition: 0.3s;
        color: #26497d;
        border-bottom: 1px solid #26497d;
    }
}

.product-sale-off {
    .product-sale-col {
        max-height: 210px;
    }
    .product-sale {
        max-height: 210px;
        z-index: 0;
    }
    .box-img {
        display: block;
        height: 210px;
        z-index: 1;
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .product-sale-body {
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 30px;
        .title {
            color: #232323;
            font-weight: 500;
            font-size: 34px;
        }
        span {
            color: #33345b;
            font-weight: 300;
            font-size: 20px;
        }
    }
}

.exclusively {
    .box-img {
        img {
            width: 100%;
        }
    }
    .exclusively-card {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        background: #26497d;
        opacity: 0.85;
        border-radius: 2px;
        padding: 5px 7px;
        width: 55%;
        height: 12.3%;
        .exclusively-card-title {
            display: block;
            font-size: 24px;
            color: #ffffff;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fed694;
        }
        &:hover {
            background: #fff;
            transition: 0.3s;
            & > .exclusively-card-title {
                color: #26497d;
                transition: 0.3s;
            }
        }
    }
    .s-content {
        padding: 0 40px;
    }
}

.product-flash-sale {
    .product-flash-sale-slideshow {
        padding-bottom: 40px;
        .swiper-pagination-bullet-active {
            background: #26497d;
        }
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: #26497d;
    }
}

.title {
    color: #26497d;
    font-size: 34px;
}

.title-n {
    font-size: 11px;
    color: #b9b9b9;
}

.category-main{
    .remove-option{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    .category-box-option {
    
        ul {
            padding-left: 0;
            & > li {
                & > ul {
                    display: none;
                    padding-bottom: 10px;
                    li{
                        border-bottom: none;
                        span {
                            margin-left: 10px;
                            color: #616060;
                        }
                    }
                }
                border-bottom: 1px solid #ccc;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        li {
            list-style: none;
            
        }
        p {
            margin-bottom: 5px;
            
            padding: 5px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i{
                color: #979797;
            }
        }
        input[type="checkbox"] {
            width: 15px;
            height: 15px;
        }
        label {
            display: flex;
            align-items: center;
        }
        
    }
    .category-view-option-box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span{
            background: #F8F7F6;
            border-radius: 100px;
            display: block;
            padding: 5px 25px 5px 10px;
            margin: 0 10px 10px 0;
            position: relative;
            font-size: 11px;
            span{
                width: 20px;
                height: 20px;
                margin: 0;
                position: absolute;
                top: 50%;
                right: 5%;
                background: transparent;
                padding: 0;
                transform: translateY(-50%);
                cursor: pointer;
                &::before{
                    content:"";
                    position: absolute;
                    width: 10px;
                    height: 1px;
                    background: #a5a5a5;
                    z-index: 1;
                    transform: rotate(45deg);
                    top: 50%;
                    left: 28%;
                }
                &::after{
                    content:"";
                    position: absolute;
                    width: 10px;
                    height: 1px;
                    background: #a5a5a5;
                    z-index: 2;
                    top: 50%;
                    left: 28%;
                    transform: rotate(130deg);
                }
            }
        }
    }
    .category-box-search{
        display: flex;
        align-items: center;
        i {
            font-size:rem(16);
        }
        .input-search{
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-right-color: transparent;
            &::placeholder{
                color: #B9B9B9;
                font-size: 12px;
            }
        }
        .btn-search--custom{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border: 1px solid #ccc;
            border-left-color: transparent;
        }
    }
    .category-banner{
        .box-img{
            display: block;
            max-height: 650px;
            img{
                width: 100%;
            }
        }
        .category-right-box{
            padding: 50px;
            height: 100%;
            background:#F8F7F6;
        }
        .banner-title{
            color: #000000;
            font-size: 34px;
            text-transform: uppercase;
        }
    }
    .category-banner-left{
        padding-right: 0;
    }
    .category-banner-right{
        padding-left: 0;
    }
    .category-product{
        .category-product-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .category-product-title{
                color: #616060;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            .category-product-sort{
                background: #F8F7F6;
                padding: 5px 3px;
                border-color: transparent;
                color: #616060;
                cursor: pointer;
            }
        }
        .card{
            &:hover{
                background: #F8F7F6;
            }
        }
    }
}

.radio-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        border: 1px solid #ccc;
        margin: 0 !important;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 37%;
            top: 15%;
            width: 8px;
            height: 15px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    span{

    }
}

.view-now {
    color: #26497d;
    .mr-2 {
        display: block;
        margin: 0 15px 5px 0;
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    li{
        margin: 0 5px;
        a{
            display: flex;
            align-items: center;
            justify-content:center;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 100%;
            border: 1px solid #BCBCBC;
            color: #26497D;
            i{
                color: #BCBCBC;
            }
            &:hover{
                background: #26497D;
                transition: 0.3s;
                color: #BCBCBC;
            }
        }
        .active{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content:center;
            color: #26497D;
            font-size: 24px;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 100%;
            border: 1px solid #BCBCBC;
            
        }
    }
}

.endow{
    .endow-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .endow-box-content{
        padding-left: 15px;
    }
    .endow-title{
        color: #33345B;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .endow-text{
        color: #B9B9B9;
        margin-bottom: 0;
    }
}

.breadcrumb{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    li{
        position: relative;
        font-size: 11px;
        padding-right: 20px;
        a{
            color: #616060;
        }
        span{
            color: #33345B;
        }
        &::after{
            content: "\f105";
            position: absolute;
            right: 8px;
            font-family: 'fontawesome';
            color: #33345B;
        }
        &:last-child::after{
            content: unset;
        }
    }
}

.product-detail-head{
    .mySwiper{
        .swiper-wrapper{
            flex-wrap: block !important;
            .swiper-slide{
                
            }
        }
    }
}
.hv_img {
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .hv_img::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .hv_img:hover::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.75s;
  }
  @-webkit-keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }

  .product-detail-head {
    color: #616060;

    .product-add-cart {
        
    }
    .product-detail-cate{
        display: flex;
        justify-content: space-between;
        .cate-name{
            color: #616060;
            text-transform: uppercase;
        }
    }
    .product-name{
        color: #616060;
        font-size: 24px;
    }
    .product-box-star{
        span,
        p{
            margin: 0;
            font-size: 14px;
        }
        
        .box-star{
            margin-right: 2rem;
        }
    }
    .box-price{
        display: flex;
        align-items: center;
        p{
            margin: 0;
        }
        .price-new{
            color: #26497D;
            font-size: 34px;
            margin-right: 20px;
        }
        .price-old{
            font-size:20px;
            margin-top: 10px;
        }
    }
    .product-code{
        font-size: 14px;
    }
    .product-add-cart{
        display: flex;
        align-items: center;
    }
    .add-cart {
        margin: 0 15px 0 15px;
        background: #26497D;
        border-radius: 2px;
        color: #FED694;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid #26497D;
        &:hover{
            background: #fff;
            transition: 0.3s;
            color: #26497D;
        }
    }

    .btn-contact{
        background: #FED694;
        border: 1px solid #FED694;
        &:hover{
            background: #fff;
            transition: 0.3s;
            color: #26497D;
        }
    }

    .box-remaining{
        margin: 0;
        background: #C4C4C4;
        border-radius: 50px;
        height: 8px;
        overflow: hidden;
        .bg-remaining{
            display: block;
            background: #FED694;
            height: 8px;
            position: relative;
            
        }
    }
}

.box-quantity{
    width: 22%;
    background-color: #EDEDED;
    .is-form{
        width: 35px;
        background-color: #EDEDED;
        height: 35px;
        border: none;
    }
    .input-qty{
        height: 35px;
        width: 60px;
        border: none;
        background-color: #EDEDED;
        border: none;
        text-align: center;
        &:focus-visible{
            outline: none;
        }
    }
}

.box-social{
    display: flex;
    align-items: center;
    a{
        display: block;
        margin-right: 15px;
        color: #26497D;
        &:last-child{
            margin-right: 0;
        }
    }
}

.product-detail-content {
    .title {
        color: #616060;
        font-weight: 600;
        span {
            border-bottom: 1px solid #616060;
            padding: 5px 15px;
        }
    }
    .product-detail-nav {
        justify-content: center;
        .nav-link {
            border: 1px solid #232323;
            border-radius: 100px;
            padding: 10px 40px;
            color: #616060;
            margin: 0 15px;
        }
        .active {
            background: #fed694;
            border-color: #fed694;
            color: #26497d;
        }
    }
    .tab-content {
        padding: 7rem;
    }
}

.product-relate {
    background-color: #f8f7f6;
}

.title_b {
    color: #616060;
    font-size: 24px;
    text-transform: uppercase;
}

.payment-form {
    background-color: #F8F7F6;
    color: #232323;
    padding: rem(60) rem(60) rem(100);

    .payment-form-title {
        font-size: 24px;
        font-weight: 400;
    }

    .payment-form__input {
        // border: 1px solid #33345B;
        margin-bottom: 32px;
        border-radius: 4px;
        height: 56px;
        background-color: #F8F7F6;
        outline: none;
        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: #232323;
        }
    }

    .payment-form__input--phone, .payment-form__input--province {
        margin-right: 22px;
    }

    .payment-form__radio {
        margin-bottom: 60px;
    }

    .payment-form-btn {
        width: rem(232);
        height: rem(40);
        border-radius: 2px;
        text-transform: uppercase;
    }

    .payment-form-btn--cancel {
        background-color: #EDEDED;
        margin-right: 12px;
        color: #26497D;
    }

    .payment-form-btn--continue {
        background-color: #26497D;
        color: #FED694;
    }
}

.payment-cart {
    .payment-cart-header {
        padding: 7px 24px;
        height: rem(50);
        align-items: center;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 23px;

        .payment-cart__title {
            font-size: 20px;
            font-weight: 300;
        }

        .payment-cart__toggle-btn {
            cursor: pointer;
        }
    }

    .cart-item {
        &__img {
            max-width: 97px;
        }
    
        &-info {
            color: #616060;
    
            .cart-item__name {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
            }
        
            .cart-item__desc {
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
            }
    
            .item-remain {
                font-size: 14px;
                font-weight: 500;
    
                span {
                    color: #26497D;
                }
    
                .item-remain-progress {
                    height: 8px;
                    width: 100%;
                    background-color: #C4C4C4;
                    border-radius: 50px;
    
                    .item-remain-progress__value {
                        width: 20%;
                        height: 100%;
                        border-radius: 50px;
                        background-color: #FED694;
                    }
                }
            }
        }
    
        .cart-item-price__old {
            font-size: 12px;
            font-weight: 500;
            color: #616060;
    
            span {
                text-decoration: line-through;
            }
        }
    
        .cart-item-price__sale {
            font-size: 14px;
            font-weight: 700;
            color: #26497D;
            margin-top: 8px;
        }
    
        .box-quantity {
            width: auto;
            
            input {
                height: 100%;
            }
        }
    
        .cart-item-trash {
            height: rem(40);
            align-items: center;
            margin-left: 12px;
        }

        .cart-item-line {
            width: 80%;
            margin: 14px 0;
            border-bottom: 1px solid #F8F7F6;
        }
        
        &:last-child {
            .cart-item-line {
                opacity: 0;
            }
        }
    }

    .payment-cart-item {
        border-top: 1px solid #B9B9B9;
        height: rem(52);
        
        .payment-cart-item__title{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }

        .payment-cart-item__check {
            width: 18px;
            height: 18px;
            border: 2px solid rgba(0, 0, 0, 0.6);
            border-radius: 2px;
        }
    }

    .payment-price {
        padding-top: 20px;
        .payment-price-item {
            height: 36px;
            span {
                font-size: 12px;
                font-weight: 500;
                color: #232323;
            }
            &:last-child {
                span:last-child {
                    font-size: 14px;
                    font-weight: 600;
                    color: #26497D
                    ; 
                }
            }
        }
    }
} 